.container{
    height: auto;
    margin: auto;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.img{
    border-radius: 100%;
    float: right;
}
.item{
    text-align: center;
}
a,a:hover{
    text-decoration: None;
    color: black;
}
.card{
    margin: auto;
}
a:hover{
    cursor: pointer;
}
.center{
    margin: auto;
}