.post_footer {

    width: auto;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    background-color: #61dafb;
    border-radius: 20px;

}
.card_new {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: cyan;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.text-center {
    text-align: center!important;
}

#post-container{
    margin: 10px
}

.channel-titr-container{
    margin: 30px 5px 20px 5px;
}

.post_footer_element{
    margin: 10px
}

.channel-titr{
    border-radius: 5%;
    margin: 30px 10px 30px 10px;
}

.channel-titr:nth-child(3n+0)
{
    background-color: aquamarine;
}

.channel-titr:nth-child(3n+1)
{
background-color: beige;
}

.channel-titr:nth-child(3n+2)
{
background-color: hotpink;
}
